<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
      <% for(let i in content) { %>
      <tr>
        <% let obj = content[i]; %>
        <th>
          <% obj.id %>
        </th>
        <td>
          <%= obj.name %>
        </td>
        <td>
        <%= obj.mail %>
        </td>
        <td>
          <%= obj.age %>
        </td>
      </tr>
      <% } %>
      
    </table>
  </body>
</html>
